* { 
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}


.topo {
    height: 50px;
}

.main {
    display: flex;
    justify-content: center;
    margin: 10px
}

.conteudo {
    padding: 30px;
    background-color: #CCC;
    width: 80%;

}
.conteudo table, .conteudo td, .conteudo th {    
    border: 1px solid #ddd;
    text-align: left;
}
.conteudo table {
    padding: 30px;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}
.conteudo th, .conteudo td {
    padding: 15px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
  }

  .icone {
      width: 30px;
        color: #4CAF50;
  }

  .btn-action {
      border: none;
      background-color: transparent;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
  }
  
  .active {
    background-color: #04AA6D;
    text-decoration: none;
  }


  /* Configuração de cores do desconto no painel principal*/
.AZUL {
    background: rgb(120, 160, 247);
    font-size: 1em;
    width: 70px;
  }

  .VERMELHO {
    background: rgb(240, 73, 73);
    font-size: 1em;
    width: 70px;
  }

  .AMARELO {
    background: rgb(252, 255, 96);
    font-size: 1em;
    width: 70px;
  }

  .actions {
     display: flex;
      align-content: space-around;
     
  }

  .actions form {
    margin: 0 10px;
  }